# Configurações do Banco de Dados
DB_HOST_LOCAL=localhost
DB_HOST_IP=192.185.222.27
DB_NAME=paymen58_brasil_hilario
DB_USER=paymen58
DB_PASS=sua_senha_aqui

# Configurações do Site
BLOG_URL=https://www.brasilhilario.com.br
ADMIN_EMAIL=admin@brasilhilario.com.br

# Configurações de Segurança
SECURE_AUTH_KEY=sua_chave_secreta_aqui

# Configurações de Cache
CACHE_ENABLED=true
CACHE_TIME=3600

# Configurações de Upload
UPLOAD_MAX_SIZE=5242880 