/* Container máximo de 1200px para notebooks, desktops e telas maiores */
@media (min-width: 768px) {
    .container {
        max-width: 1200px !important;
    }
    
    .container-fluid {
        max-width: 1200px !important;
        margin: 0 auto !important;
    }
} 