/* CSS Gerado Dinamicamente */

:root {
  --cor_primaria: #0b8103;
  --cor_secundaria: #000000;
  --cor_sucesso: #28a745;
  --cor_perigo: #dc3545;
  --cor_aviso: #fcbd07;
  --cor_info: #17a2b8;
}

.navbar {
  background-color: #ffffff;
  color: #333333;
}

.navbar-nav .nav-link {
  color: #0b8103;
}

.navbar-nav .nav-link:hover {
  color: #0a6b02;
}

footer {
  background-color: #f8f9fa;
  color: #6c757d;
}

footer a {
  color: #0b8103;
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: var(--cor_secundaria)!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  color: var(--cor_secundaria)!important;
}

p, div {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
  font-size: 28px;
}

.subtitulo {
  font-size: 20px;
}

.paragrafo {
  font-size: 16px;
}

.pequeno {
  font-size: 14px;
} 