Options +FollowSymLinks
RewriteEngine On
RewriteBase /admin/

# Configurações de erro
php_flag display_errors on
php_value error_reporting E_ALL

# Permitir acesso a todos os arquivos PHP
<FilesMatch "\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Permitir acesso a todos os arquivos
<Files *>
    Order Allow,Deny
    Allow from all
</Files>

# Desabilitar listagem de diretórios
Options -Indexes

# Permitir acesso ao diretório
<Directory "/admin">
    Order Allow,Deny
    Allow from all
</Directory> 